.actions-wrapper {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  button {
    all: unset;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    text: var(--text);
    font-weight: 500;
    cursor: pointer;
  }
  .btn-secondary {
    color: var(--text-highlight);
    border: 1px solid var(--text-highlight);
    &:hover,
    &:focus {
      border: 1px solid var(--text-highlight);
      outline: 0.25rem solid var(--surface-secondary);
    }
  }
  .btn-primary {
    color: var(--surface-primary);
    border: 1px solid var(--text-highlight);
    background-color: var(--text-highlight);
    &:hover,
    &:focus {
      border: 1px solid var(--brand-mid);
      background-color: var(--brand-mid);
    }
  }
}

@media screen and (width > 900px) {
  .actions-wrapper {
    justify-content: end;
    flex-direction: row;
  }
}
