* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-family: "Poppins", sans-serif;
  --text: 400 1rem/1.5 var(--font-family);
  --text-sm: 400 0.875rem/1.4 var(--font-family);

  --brand-light: #f67841;
  --brand-mid: #f3541c;

  --text-primary: #292524;
  --text-secondary: #57534e;
  --text-tertiary: #8f8881;
  --text-highlight: #e43a12;

  --surface-primary: #ffffff;
  --surface-secondary: #fee7d6;
  --surface-disabled: #e7e5e4;

  --stroke-default: #d6d3d1;
  --stroke-highlight: #f3541c;
  --semantic-error: #dc2626;
}

body {
  font-family: var(--font-family);
  font: var(--text);
  color: var(--text-secondary);
}
h1,
h2 {
  color: var(--text-primary);
}
img {
  max-width: 100%;
  height: auto;
}
.only-desktop {
  display: none;
}
aside,
main {
  max-width: 85rem;
  margin-inline: auto;
  padding: 1.5rem;
  .buttonTextVoltar {
    display: flex;
    align-items: center;
  }
}
aside header {
  & img {
    width: 22.5rem;
  }
  text-align: center;
}
aside {
  background-color: var(--surface-secondary);
  max-width: 22.5rem;
}
.main-container {
  max-width: 22.5rem;
  margin-inline: auto;
}
.input-group-wrapper {
  flex-direction: column;
}
